#topText{
    color: white !important;
}
#pageTop{
    background-color: #2D7FC7;
}
.links{
    color: white !important;
}
#courseName{
    background-color: #2D7FC7;
    color: white;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.context{
    color: #777777;
}